
.App {
    background-color: #505050;
    height: 100vh;
}

.code-input.form-control { color: coral !important;  font-size: 5em;
    text-align: center; ;
    }

.code-input-wrapper {
    max-width: 600px;
}

.submit-button.btn {
    font-size: 2em;
    /*width: fit-content;*/
}

.action-header:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}